* {
  box-sizing: border-box;
}

.page-break
{
  clear: both;
  page-break-after: always;
  height: 1in;
}

.wrapper
{
  max-width: 8.2in;
  display: grid;
  grid-template-columns: repeat(3, 2.49in);
}

.card
{
  width: 2.49in;
  max-width: 2.49in;
  height: 3.48in;
  max-height: 3.48in;
  border: 7px solid black;
  border-radius: 8px;
  padding: 8px;

  display: grid;
  grid-template-rows: 1fr 1fr;
}

.hero
{

}

.encounter
{

}

.action 
{
  position: relative;
}
  .hero .action 
  {
    transform: rotate(180deg);
    border-top: 1px solid black;
    padding-top: 8px;
    margin-bottom: 8px;
  }
  .encounter .action
  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .action .header
  {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

    .action .cost
    {
      display: flex;
    }
      .action .cost .cost_icon
      {

      }

  .action .body
  {

  }
  .encounter .action .body
  {
    min-height: 2.6in;
  }

  .hero .action .deck
  {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .encounter .deck
  {
    position: absolute;
    right: 0;
    top: 0;
  }

.resource
{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
  .resource .icon
  {
    border-width: 8px;
    border-style: solid;
    width: 1.4in;
    height: 1.4in;
    border-radius: .75in;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 56px;
  }
  .resource .name
  {

  }

.footer
{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-items: center;
  height: 100%;
}

.border-berries { border-color: #ff00de; }
.border-sticks { border-color: #884e0d; }
.border-flowers { border-color: #ff8ac5; }
.border-stones { border-color: #8ea5c3; }

p
{
  margin:0;
  padding:0;
  padding-bottom: 8px;
}