* {
  box-sizing: border-box;
}

.page-break
{
  clear: both;
  page-break-after: always;
  height: 1in;
}

.wrapper
{
  max-width: 8.2in;
  display: grid;
  grid-template-columns: repeat(3, 2.49in);
}

.card
{
  width: 2.49in;
  max-width: 2.49in;
  height: 3.48in;
  max-height: 3.48in;
  border: 7px solid black;
  border-radius: 8px;
  padding: 8px;

  display: grid;
  grid-template-rows: 1fr 1fr;
}

.hero
{

}

.encounter
{

}

.action 
{
  position: relative;
}
  .hero .action 
  {
    transform: rotate(180deg);
    border-top: 1px solid black;
    padding-top: 8px;
    margin-bottom: 8px;
  }
  .encounter .action
  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .action .header
  {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

    .action .cost
    {
      display: flex;
    }
      .action .cost .cost_icon
      {

      }

  .hero .action .body
  {
    height: 1.3in;
    padding-left: 12px;
    padding-right: 6px;
    padding-top: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: pre-wrap;
  }

  .action .body .footer
{
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 4px;
}

  .encounter .action .body
  {
    margin-top: 18px;
    min-height: 2.3in;
  }

  .hero .action .deck
  {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .hero .deck {
    text-align: right;
    height: 18px;
    transform: rotate(180deg);
  }

  .hero .deck_name {
    position: absolute;
    text-align: left;
    width: 2.125in;
    height: 12px;
  }

  .encounter .deck
  {
    position: absolute;
    right: -4px;
    top: 4px;
  }

.resource
{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
  .resource .icon
  {
    width: .75in;
    height: .75in;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 56px;
  }

  .resource .icon .icon_wrapper
  {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 56px;
    gap: 8px;
    width: 80%;
    height: 80%;
  }

  .resource .icon .icon_wrapper .cost_icon
  {
    position: relative;
    top: -10%;
    width: 100%;
    height: 100%;
  }

  .resource .icon .icon_wrapper .spiced
  {
    font-size: 28px;
    position: absolute;
    left: 34px;
    top: -10px;
  }

  .resource .name
  {
    position: relative;
    top: 0%;
    height: 50%;
  }

.footer
{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-items: center;
  height: 100%;
}

.encounter .footer {

}

.encounter .footer .icons {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  left: 0%;
  width: 100%
}

.encounter .footer .duration {
  position: absolute;
  width: 50%;
  left: 50%;
  text-align: right;
}

.hero .footer
{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 0.85in;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
}

.hero .action .body .footer
{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 40px;
}

.hero .action .body .footer .count_icons
{ 
  font-size: 8px;
  position: absolute;
  align-items: center;
  justify-content: center;
  text-align: center;
  top: 100%;
  left: 0%;
  width: 100%
}

p
{
  margin:0;
  padding:0;
  padding-bottom: 8px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 8px;
}

.encounter .info_row
{
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding-left: 12px;
  padding-right: 18px;
}
  .encounter .info_row *
  {
    font-size: 10px;
    font-weight: bold;
  }

.card_type {
  text-align: right;
  width: 90px;
}

.hidden {
  visibility: hidden;
}

.card {
  font-size: 15px;
  line-height: 20px;
}