@font-face {
  font-family: Immortal;
  src: url("./assets/IMMORTAL.ttf");
}

@font-face {
  font-family: Montserrat;
  src: url("./assets/Montserrat-Light.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Montserrat;
  src: url("./assets/Montserrat-Bold.ttf");
  font-weight: bold;
}

html {
  --hero-text-color: #000000;
  --encounter-text-color: #000000;
  --card-border: 8px solid #000000;
  --hero-split: 1px solid #000000;
  --encounter-deck-bg: #000000;
}

html {
  --hero-text-color: #000000;
  --encounter-text-color: #FFFFFF;
  
  --resource-bg-color: #ffffff61;
  --hero-bg-image: url("./assets/hero_bg.png");
  --encounter-bg-image: url("./assets/encounter_bg.png");
  --card-border: 0px solid #00000000;
  --hero-split: 0px solid #00000000;
  --encounter-deck-bg: transparent;
}

* {
  box-sizing: border-box;
  font-family: Montserrat;
  letter-spacing: 1px;
  font-size: 10px;
}

.page-break
{
  clear: both;
  page-break-after: always;
  height: 1in;
}

.wrapper
{
  max-width: 8.2in;
  display: grid;
  grid-template-columns: repeat(3, 2.49in);
}

.card
{
  width: 2.49in;
  max-width: 2.49in;
  height: 3.48in;
  max-height: 3.48in;
  border-radius: 8px;
  background-size: contain;
  position: relative;

  border: var(--card-border);
}

.hero
{
  background: var(--hero-bg-image);
  background-size: contain;
  color: var(--hero-text-color);
}
  .card .hero
  {
  }

.encounter
{
  background: var(--encounter-bg-image);
  background-size: contain;
  color: var(--encounter-text-color);
}

.action 
{
  
}
  .hero .action 
  {
    transform: rotate(180deg);
    display: grid;
    grid-template-rows: 1fr 3fr;
    padding: 8px;
    padding-top: 6px;
    row-gap: 8px;
    border-top: var(--hero-split);
    height: 2.2in;
  }

  .encounter .action
  {
    display: grid;
    grid-template-rows: auto 18px auto 52px;
    height: 100%;
    padding: 37px 12px 22px 12px;
  }

  .action .header
  {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
    .encounter .action .header {
      margin-top: 8px;
      margin-bottom: 6px;
    }
    
    .title
    {
      font-family: Immortal;
      font-weight: bold;
      font-size: 16px;
      text-align: center;
    }

    .encounter .title
    {
      font-size: 20px;
    }

    .action .cost
    {
      margin-left: 18px;
      gap: 6px;
      margin-top: 0px;
      display: flex;
    }
      .cost_icon
      {
        object-fit: contain;
      }
      .action .cost .cost_icon
      {
        width: 18px;
        height: 18px;
      }
  
      .encounter .cost_icon
      {
        width: 18px;
        height: 18px;
      }

  .action .body {
    height: 1.75in;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: -6px;
  }

  .hero .action .body
  {
    display: flex;
    flex-direction: column;
    white-space: pre-wrap;
  }



.count_icons
{ 
  font-size: 8px;
}
    .encounter .count_icons
    {
      position: absolute;
      left: 12%;
      width: 410%;
      display: flex;
      align-items: left;
      justify-content: left;
    }

  .encounter .deck
  {
    position: absolute;
    right: 21px;
    bottom: 18px;
  }

  .hero .deck
  {
    position: absolute;
    top: 5%;
    left: 80%;
  }

  .hero .deck_name {
    display: none;
  }
    
    .encounter .deck
    {
      background: var(--encounter-deck-bg);
    }

.resource
{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  align-items: center;
}
  .resource .icon
  {
    width: 1.5in;
    height: 0.7in;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 56px;
    gap: 8px;
    margin-top: -8px;
  }
    .resource .icon .icon_wrapper
    {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 56px;
      gap: 8px;
      width: 80%;
      height: 80%;
    }

    .resource .icon .icon_wrapper .cost_icon
    {
      width: 100%;
      height: 100%;
    }

    .resource .icon .icon_wrapper .spiced
    {
      position: absolute;
      left: 20px;
      top: 16px;
      transform: scale(50%)
    }

  .resource .name
  {
    padding-bottom: 4px;
    font-family: Immortal;
  }

.enecounter .footer
{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 0.85in;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
}

.hero .count_icons
{ 
  font-size: 8px;
  position: absolute;
  text-align: right;
  top: 70%;
  left: -8%;
  width: 100%
}

.encounter .number_icon
{
  display: flex;
  justify-content: center;
  gap: 4px;
}

.border-berries { border-color: #ff00de; }
.border-sticks { border-color: #884e0d; }
.border-flowers { border-color: #ff8ac5; }
.border-stones { border-color: #8ea5c3; }

.card_type {
  position: absolute;
  text-align: right;
  left: 38%;
  width: 50%;
}

.hidden {
  visibility: hidden;
}

.encounter .info_row
{
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding-left: 12px;
  padding-right: 18px;
}
  .encounter .info_row *
  {
    font-size: 10px;
    font-weight: bold;
  }

  .encounter .footer .icons {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 0%;
    width: 100%
  }
  
  .encounter .footer .duration {
    position: absolute;
    width: 50%;
    left: 50%;
    text-align: right;
  }

  .divider {
    position: absolute;
    width: 100%;
    height: 1%;
    top: 63%
  }

  .encounter .deck {
    position: absolute;
    top: 90%;
    left: 82%;
  }

  .hero .deck
  {
    position: absolute;
    top: 90%;
    left: 46%;
  }

  .hero .second_deck
  {
    position: absolute;
    top: 4%;
    left: 46%;
  }
  
  .hero .second_deck .deck_icon {
    transform: rotate(180deg);
  }

  .deck .deck_icon
  {
    position: absolute;
    object-fit: contain;
    width: 20px;
    height: 20px;
    z-index: 200;
  }

  .deck .diamond
  {
    z-index: 1;
    position: absolute;
    object-fit: contain;
    left: -10px;
    top: -10px;
    width: 40px;
    height: 40px;
    transform: rotate(180deg);
  }

  .hero .title
  {
    text-align: center;
  }

.encounter .footer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-items: center;
  top: 34%;
  left: 8%;
  height: 100%;
  width: 97%;
}

.encounter .footer .icons {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  left: 0%;
  width: 90%
}

.encounter .footer .duration {
  position: absolute;
  width: 50%;
  left: 55%;
  text-align: right;
}

.encounter .footer .health {
  position: absolute;
  width: 50%;
  left: 55%;
  text-align: right;
}

.encounter .body {
  margin-top: 6px;
  font-size: 14px;
  line-height: 16px;
}

.encounter .body .cost_icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  display: inline-block;
}

.hero .body .body_section .cost_icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  display: inline-block;
}

.body_section
{
  margin:0;
  padding:0;
  padding-bottom: 6px;
}

.card {
  min-height: 3.49in;
  min-width: 2.49in;
}